if SHIELD_DUPLICIS_LEFT

config ZMK_KEYBOARD_NAME
    default "Duplicis"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DUPLICIS_LEFT || SHIELD_DUPLICIS_RIGHT

config ZMK_SPLIT
    default y

endif